@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* ===== Custom Scrollbar ===== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #403c3c; /* Dark track */
}

::-webkit-scrollbar-thumb {
  background: #eee5da; /* Orange thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eee5da; /* Slightly darker on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #eee5da #403c3c;
}
